*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f4f4f4;
  position: relative;
}

header,
footer {
  background-color: #336699;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

a:visited {
  color: #8e44ad;
}

a:active {
  color: #e74c3c;
}

a {
  transition: color 0.3s ease;
}

section {
  width: 80%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls {
  display: flex; /* Usar flexbox para o contêiner */
  justify-content: center; /* Centralizar os botões horizontalmente */
  position: fixed; /* Usa o posicionamento fixo */
  bottom: 20px; /* Ajusta a distância da parte inferior */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(
    -50%
  ); /* Centraliza o elemento em relação a sua largura */
  background-color: #fff;
  padding: 10px; /* Padding para espaço interno */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para um efeito de elevação */
}

#nextBtn {
  background-color: #198754;
  color: #b3cab0;
}

#nextBtn:hover {
  background-color: #46af7e;
  color: #000000;
  opacity: 0.7;
}

button {
  background-color: rgba(0, 123, 255, 0.1);
  border: none;
  color: #000;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  width: auto;
  box-sizing: border-box;
}

button:hover {
  background-color: rgba(0, 49, 105, 0.897);
  color: white;
  opacity: 0.9;
}

button i {
  margin-right: 5px;
  font-size: 1.2em;
  vertical-align: middle;
}

#controls ul {
  list-style: none; /* Remover marcadores de lista */
  padding: 0; /* Remover padding padrão da lista */
  margin: 0; /* Remover margem padrão da lista */
  display: flex; /* Usar flexbox para alinhar os itens da lista */
  justify-content: center; /* Centralizar os itens da lista horizontalmente */
}

#controls li {
  margin: 0 5px;
}

#prayer-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#progress {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

#progress,
#progressText,
#mysteryText,
#prayerTitle {
  font-size: 18px;
}

#prayerText {
  font-size: 16px;
  text-align: justify;
}

select {
  font-size: 15px;
  padding: 0.55em 4em 0.55em 0.55em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

@media (max-width: 600px) {
  select {
    width: 100%;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  #controls {
    flex-direction: column;
    align-items: stretch;
  }

  #controls ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #controls li {
    margin: 0 5px;
  }

  #controls > button {
    width: auto;
    margin: 5px 0;
  }

  #controls-previous,
  #controls-next {
    display: none;
  }
}
