*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f4f4f4;
  position: relative;
}

header,
footer {
  background-color: #336699;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

header h1 {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

nav {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
  transition: 0.3s;
}

#menu {
  list-style: none;
  padding: 0;
  display: flex;
}

#menu li {
  margin: 0 15px;
}

.hidden {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #aeaeae;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:active {
  color: #e74c3c;
}

a {
  transition: color 0.3s ease;
}

section {
  width: 80%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nextBtn {
  background-color: #198754;
  color: #b3cab0;
}

#nextBtn:hover {
  background-color: #46af7e;
  color: #000000;
  opacity: 0.7;
}

button {
  background-color: rgba(0, 123, 255, 0.1);
  border: none;
  color: #000;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  width: auto;
  box-sizing: border-box;
}

button:hover {
  background-color: rgba(0, 49, 105, 0.897);
  color: white;
  opacity: 0.9;
}

button i {
  margin-right: 5px;
  font-size: 1.2em;
  vertical-align: middle;
}

#controls ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#controls li {
  margin: 0 5px;
}

#prayer-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#progress {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

#progress,
#progressText,
#mysteryText,
#prayerTitle {
  font-size: 18px;
}

#prayerText {
  font-size: 16px;
  text-align: left;
}

select {
  font-size: 15px;
  padding: 0.55em 4em 0.55em 0.55em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.font-red {
  color: #e74c3c;
}

.blog-post {
  margin-bottom: 40px;
  text-align: left;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.comments {
  margin-top: 40px;
}

#comment-input {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 15px;
  z-index: 1000;
  display: none;
  transition: all 0.3s ease;
}

.cookie-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookie-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-accept {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-more-info {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  #menu li {
    margin: 10px 0;
    text-align: center;
  }

  #menu.show {
    display: flex;
  }

  select {
    width: 100%;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  #controls {
    flex-direction: column;
    align-items: stretch;
  }

  #controls ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #controls li {
    margin: 0 5px;
  }

  #controls > button {
    width: auto;
    margin: 5px 0;
  }

  #controls-previous,
  #controls-next {
    display: none;
  }

  a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: #2e2222;
    text-decoration: underline;
  }

  a:visited {
    color: #000;
  }

  a:active {
    color: #e74c3c;
  }

  .cookie-content {
    flex-direction: column;
    text-align: center;
  }

  .cookie-buttons {
    margin-top: 10px;
  }
}
